<h2>Belépés</h2>

<div class="container" style="background-color: bisque; color: darkgrey;"  >
<form [formGroup]="loginForm"  (ngSubmit)="login()">
  <div class="mb-3" >

    <label for="exampleInputEmail1" class="form-label">Felhasználónév</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="user">
    
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Jelszó</label>
    <input type="password" class="form-control" id="exampleInputPassword1" formControlName="pass">
  </div>
  <button type="submit" class="btn btn-outline-primary">Belépés</button>
</form>
</div>